*
{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}
footer
{
	text-align: right;
	background: #FF3F4F;
	padding: 20px 20px;
}
header
{
	margin-top: -40px;
	border-radius: 10px;
	background: #78CC5B;
}
header h1
{
	padding: 20px 0 0 20px;
}
header nav 
{
	text-align: center;
	margin: center;
	padding: 20px;
	background: #C7FFD5;
}
header nav ul li 
{
	margin-left: 50px;
	display: inline-block;
}

#section1
{
	background: #78CC5B;
}
#section2 
{
	padding: 20px 20px;
	margin-top: -20px;
	display: none;
	background: #78CC5B;
}
#section1 img 
{
	width: 100%;
}
#section3 
{
	display: none;
	background: #48D4C6;
	text-align: center;
}

#section3article1
{
	display: inline-block;
	width: 45%;
}
#section3article1 img
{
	float: left;
	width: 100%;
}
#section3article2
{
	display: inline-block;
	text-align: justify;
}
#section3article3
{
	background: white;
}
.estudios h4
{
	color: limegreen;
}
#hed2
{
	display: none;
}

#div2
{
	width: 100%;
	margin-top: 100px;
	color: white;
	position: absolute;
}

#section1article2 img
{

  width:  50%;
}

.secart
{
	text-align: center;
}

@media screen and (max-width: 770px) {
	
	
	#hed1
	{
		display: none;
	}
	#hed2
	{
		display: block;
	}
	footer
	{
		background: black;
	}
	#section3> article
	{
		text-align: center;
		display: block;
		width: 100%;
		color: black
	} 
	header
	{
		margin-top: -40px;
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	header nav
	{
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	header nav ul li 
	{
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	header nav ul li button
	{
		color: black;
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 auto;
	}

}
@media screen and (max-width: 500px) {
	header
	{
	margin-top: -40px;
	}
	footer
	{
		padding: 4px 4px;
		font-size: 12px;
	}
	#div2
	{
		display: none;
	}
	#section3article2
	{
		text-align: justify;
	}
	#section3 img
	{
		display: none;
	}
}